h1 {
	color: gray; 
	font-size: 60px; 
	text-align: center;
	border: 2px solid gray;
	text-decoration: underline gray;
}

h2 {
	color: black; 
	font-size: 20px; 
	text-align: left;
    text-decoration: underline gray;
}


.knt { 
	background-color: gray;
	 height: 1px;  
}

.ip { 
	background-color: green;
	 height: 1px;  
}

.SECUNDARIA{
	
	color: gray; 
	font-size: 20px; 
	text-align: left;
    text-decoration: underline gray;
    font-family: verdana;

}

.UNIV{
	
	color: gray; 
	font-size: 20px; 
	text-align: left;
    text-decoration: underline gray;
    font-family: verdana;

}
